@using Application.Services.StudentServices
@using Application.DTOs
@using Infrastructure.Migrations
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IStudentService StudentService

@page "/students/add"
<div>

    <EditForm  Model="student" OnValidSubmit="SaveStudentAsync">
         <h1>Add New Student</h1>

        <div class="form-group">
            <label for="name" >Name:</label>
            <InputText class="form-control" id="name" @bind-Value="student.Name"/>
        </div>

        <div class="form-group">
            <label for="sex" >Sex:</label>
            <InputSelect id="sex" class="form-control" @bind-Value="student.Sex">
                <option value="">Select Sex</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label for="dob" >Date Of Birth:</label>
            <InputDate id="dob" class="form-control" @bind-Value="student.DateOfBirth"/>
        </div>

        <div class="form-group">
            <label for="regNumber" >Reg Number:</label>
            <InputText id="regNumber" class="form-control" @bind-Value="student.Reg_Number"/>
        </div>

        <div class="form-group">
            <label for="phone" >Phone:</label>
            <InputText id="phone" class="form-control" @bind-Value="student.Phone"/>
        </div>

        <div class="form-group">
            <label for="email" >Email:</label>
            <InputText id="email" class="form-control" @bind-Value="student.Email"/>
        </div>

        <div class="form-group">
            <label for="address" >Address:</label>
            <InputText id="address" class="form-control" @bind-Value="student.Address"/>
        </div>

        <div class="form-group">
            <label for="parentName" >Parent Name:</label>
            <InputText id="parentName" class="form-control" @bind-Value="student.Parent_Name"/>
        </div>

        <div class="form-group">
            <label for="parentPhone" >Parent Phone:</label>
            <InputText id="parentPhone" class="form-control" @bind-Value="student.Parent_Phone"/>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Add Student</button>
    </EditForm>
</div>

@code{
    private AddStudentDTO student = new ();
    private async Task SaveStudentAsync()
    {
        await StudentService.AddStudentAsync(student);

        Navigation.NavigateTo("/students");
    }
}