@page "/classes"
@using Application.Services.ClassServices
@using Domain.Entities
@inject NavigationManager Navigation

@inject IClassService ClassService
<h1>
    Class
</h1>
<a class="btn btn-primary" href="/classes/add">Add Class</a>
<table class="table table-striped">
    <tr>
    <th>Id</th>
    <th>Education</th>
    <th>Faculty</th>
    <th>Name</th>
    </tr>

     @foreach(var classing in classed)
        {
    <tr>
        <td>@classing.Id</td>
        <td>@classing.EducationLevelId</td>
        <td>@classing.FacultyId</td>
        <td>@classing.Name</td>
    </tr>
    }
</table>

@code{
   
    private List<Classing> classed = new List<Classing>();
    protected override void OnInitialized()
    {
        classed= ClassService.GetAllClasses();
    }
}