@page "/classes"
@using Application.Services.ClassServices
@using Domain.Entities
@inject IClassService ClassService
<h1>
    Class
</h1>
<table>
    <tr>
    <th>IdClass</th>
    <th>ClassName</th>
    <th>InstructorName</th>
    <th>ClassCode</th>
    </tr>

     @foreach(var classing in classed)
        {
    <tr>
        <td>@classing.Id</td>
        <td>@classing.Name</td>
        <td>@classing.InstructorName</td>
        <td>@classing.Code</td>
    </tr>
    }
</table>

@code{
   
    private List<Classing> classed = new List<Classing>();
    protected override void OnInitialized()
    {
        classed= ClassService.GetAllClasses();
    }
}