@page "/students/Delete/{id:int}"
@using Application.Services.StudentServices
@using Domain.Entities
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IStudentService StudentService

<div class="container mt-5">
    <EditForm Model="student" OnValidSubmit="RemoveStudent">
        <div class="form-group">
        <label class="btn btn-danger">Are you sure you want to delete this student?</label>
        <label class="form-label">Name: @student.Name</label>
        <label class="form-label">Reg Number: @student.Reg_Number</label>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="/students" class="btn btn-secondary">Cancel</a>
        </div>
    </EditForm>
</div>

@code{
    [Parameter]
    public int Id { get; set; }
    private Student? ExistingStudent;
    private Student student = new ();
    protected override void OnParametersSet()
    {
        ExistingStudent = StudentService.GetStudentById(Id);
        if (ExistingStudent != null)
        {
            student = ExistingStudent;
        }
    }
    private void RemoveStudent()
    {
        if (student != null)
        {
            StudentService.DeleteStudent(student);
            Navigation.NavigateTo("/students");
        }
    }
}